body{
    font-family: sans-serif;
    margin: 0;
  }
  .container{
    display: flex;
    position: fixed;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  @keyframes bg-spin {
  to {
  --border-angle: 1turn;
  }
  }
  @property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
  }
  
  .logo{
    display: flex;
    height: 37rem;
    width: 27rem;
    align-items: center;
    justify-content: center;
    color: white;
    justify-content: center;
    cursor: pointer;
    transition:1s;
  }
  .logo:active{
    transform: cal(.9);
  }
  .Logo{
    display: none;
    position: fixed;
    height: 12rem;
    width: 12rem;
    align-items:center;
    justify-content: center;
    top: 15px;
    left: 15px;
  }
  .login{
    display: none;
    --border-size: 10px;
    --border-angle: 0turn;
    height: 25rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    color: white;
    justify-content: center;
    border-radius: 10px;
    background-image:conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    animation: bg-spin 3s linear infinite;
    background-size: calc(100% - (var(--border-size) * 1)) calc(100% - (var(--border-size) * 1)),cover;
    
    background-position: center center;
    background-repeat: no-repeat;
  }
  .login_form{
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  .login_info{
    display: inline;
    text-align: center;
  }
  label{
    width: 5rem;
    font-weight: 25;
  }
  button{
    background: transparent;
    border: none;
    color: white;
    font-size: medium;
  }
  .signup{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
  }